.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #222;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-left button,
.navbar-right button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 10px;
}

.navbar-right span {
  margin-right: 15px;
  color: white;
}

button:hover {
  background-color: #c0392b;
}
